.pagetitle {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 6px;
}

.block {
    display: block;
}

label, .preview {
    font-weight: 600;
    font-size: 14pt;
}

.preview {
    text-align: center;
    font-weight: bold;
}

input[type=file] {
    display: block;
    font-size: 1rem;
}

.form-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check {
    margin-top: 3px;
    margin-bottom: 3px;
}

#fontSelect .form-check label {
    font-weight: normal;
}

.buttonlink {
    display: inline;
    border: none;
    outline: none !important;
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
    padding: 0;
    margin-right: 5px;
}

.buttonlink:hover {
    color: #0056b3;
    text-decoration: underline;
}

.inputinfo {
    font-size: 10pt;
    color: rgb(109, 117, 125);
}

.inputerror {
    font-size: 10pt;
    color: red;
}

textarea {
    font-size: 12pt;
}

.form-row {
    padding: 0;
}

option {
    padding: 0;
}

.disclaimer {
    font-size: 12pt;
    margin: 8px 0;
}

.preview-border {
    width: 482px;
    border: 1px solid #ced4da;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.permalink-tweet-container {
    width: 600px;
    margin: auto;
}

.generatedImage {
    width: 700px;
    margin: auto;
}

.column1 {
    margin: 0 auto;
}

.download-button {
    display: block;
    font-size: 16pt;
    margin: auto;
    font-weight: 500;
}

.generatedImage {
    background-color: #e9ecef;
    border-radius: 6px;
    font-size: 14pt;
    padding: 10px 8px;
    text-align: center;
}

.ad {
    margin: auto;
}

.version {
    text-align: right;
    font-size: 10pt;
}

noscript {
    color: red;
}

.notice-btn {
    display: block;
    text-align: center;
    margin: 4px auto;
}

.notice-collapse {
    max-width: 540px;
    margin: 4px auto;
}

.notice-card {
    font-size: 11pt;
}

canvas {
    display: none;
}